.centerView {
  width: 70%;
  height: 50px;
  border-radius: 30px;
  align-self: center;
  background-color: #000;
  justify-content: center;
}
.centerButtonText {
  font-size: 19;
  color: #fff;
  text-align: center;
}
